venv
.env
__pycache__/
*.pyc
*.ipynb_checkpoints
.sixth

temp_functions.py
SHL_AI_Intern_Assignment.pdf:Zone.Identifier
SHL_AI_Intern_Assignment.pdf
approach_report.md
approach_report.pdf
backend.7z

procfile